<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gzmu.mapper.SchoolMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from school
		<where>
			<if test="cm.schoolProfiles != null and cm.schoolProfiles != ''">
					and school_profiles=#{cm.schoolProfiles}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
					and remark_=#{cm.remark}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
                	name_ like CONCAT('%','${cm.keyword}','%')
                	or spell_ like CONCAT('%','${cm.keyword}','%')
					or school_profiles like CONCAT('%','${cm.keyword}','%')
					or remark_ like CONCAT('%','${cm.keyword}','%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
        ORDER BY sort_no
	</select>

	<resultMap id="collegeMap" type="edu.gzmu.model.School">
		<id property="id" column="schoolId"/>
		<result property="name" column="schoolName"/>
		<result property="sortNo" column="sortNo"/>
		<collection property="collegeList" javaType="list" ofType="College">
			<id property="id" column="collegeId"/>
			<result property="schoolId" column="schoolId"/>
			<result property="name" column="collegeName"/>
		</collection>
	</resultMap>



	<select id="queryHierarchy" resultMap="collegeMap">
		SELECT
			s.id_ schoolId,s.name_ schoolName,e.id_ collegeId,e.name_ collegeName,s.sort_no sortNo
		FROM
			school s
			LEFT JOIN college e ON e.school_id = s.id_
	</select>

	<resultMap id="specialtyMap" type="edu.gzmu.model.School">
		<id property="id" column="schoolId"/>
		<result property="name" column="schoolName"/>
		<result property="sortNo" column="sortNo"/>
		<collection property="collegeList" javaType="list" ofType="edu.gzmu.model.College">
			<id property="id" column="collegeId"/>
			<result property="schoolId" column="schoolId"/>
			<result property="name" column="collegeName"/>
			<collection property="specialtyList" javaType="list" ofType="edu.gzmu.model.Specialty">
				<id property="id" column="specialtyId"/>
				<result property="name" column="specialtyName"/>
				<result property="collegeId" column="collegeId"/>
			</collection>
		</collection>
	</resultMap>

	<select id="queryHierarchyTwo" resultMap="specialtyMap">
		SELECT
			s.id_ schoolId,s.name_ schoolName,e.id_ collegeId,e.name_ collegeName,
			s2.id_ specialtyId,s2.name_ specialtyName,s.sort_no sortNo
		FROM
			school s
			LEFT JOIN college e ON e.school_id = s.id_
			LEFT JOIN specialty s2 ON e.id_ = s2.college_id;
	</select>


</mapper>
