<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gzmu.mapper.SpecialtyMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from specialty
		<where>
			<if test="cm.majorCode != null and cm.majorCode != ''">
					and major_code=#{cm.majorCode}
			</if>
			<if test="cm.collegeId != null and cm.collegeId != ''">
					and college_id=#{cm.collegeId}
			</if>
			<if test="cm.schoolYear != null and cm.schoolYear != ''">
					and school_year=#{cm.schoolYear}
			</if>
			<if test="cm.category != null and cm.category != ''">
					and category_=#{cm.category}
			</if>
			<if test="cm.majorLeaderId != null and cm.majorLeaderId != ''">
					and major_leader_id=#{cm.majorLeaderId}
			</if>
			<if test="cm.introduction != null and cm.introduction != ''">
					and introduction_=#{cm.introduction}
			</if>
			<if test="cm.studentsNumber != null and cm.studentsNumber != ''">
					and students_number=#{cm.studentsNumber}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
					and remark_=#{cm.remark}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
                	name_ like CONCAT('%','${cm.keyword}','%')
                	or spell_ like CONCAT('%','${cm.keyword}','%')
					or major_code like CONCAT('%','${cm.keyword}','%')
					or college_id like CONCAT('%','${cm.keyword}','%')
					or school_year like CONCAT('%','${cm.keyword}','%')
					or category_ like CONCAT('%','${cm.keyword}','%')
					or major_leader_id like CONCAT('%','${cm.keyword}','%')
					or introduction_ like CONCAT('%','${cm.keyword}','%')
					or students_number like CONCAT('%','${cm.keyword}','%')
					or remark_ like CONCAT('%','${cm.keyword}','%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
		ORDER BY college_id, sort_no
	</select>

	<resultMap id="specialtyMap" type="edu.gzmu.model.Specialty">
		<id property="id" column="specialtyId" />
		<result property="name" column="specialtyName"/>
		<result property="sortNo" column="sortNo"/>
		<association property="college" javaType="edu.gzmu.model.College">
			<id property="id" column="collegeId"/>
			<result property="name" column="collegeName"/>
			<association property="school" javaType="edu.gzmu.model.School">
				<id property="id" column="schoolId"/>
				<result property="name" column="schoolName"/>
			</association>
		</association>
	</resultMap>

	<select id="queryById" useCache="false" resultMap="specialtyMap">
		SELECT
			s.id_ specialtyId,s.name_ specialtyName,c.id_ collegeId,c.name_ collegeName,
			sc.id_ schoolId,sc.name_ schoolName,s.sort_no sortNo
		FROM
			specialty s
			LEFT JOIN college c ON s.college_id = c.id_
			LEFT JOIN school sc ON c.school_id = sc.id_
		<where>
			<if test="cm.id != null and cm.id != ''">
				and s.id_ = #{cm.id}
			</if>
		</where>
	</select>
</mapper>
