<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gzmu.mapper.SysEmailMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from sys_email
		<where>
			<if test="cm.sender != null and cm.sender != ''">
					and sender_=#{cm.sender}
			</if>
			<if test="cm.emailTitle != null and cm.emailTitle != ''">
					and email_Title=#{cm.emailTitle}
			</if>
			<if test="cm.emailContent != null and cm.emailContent != ''">
					and email_Content=#{cm.emailContent}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
					and remark_=#{cm.remark}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
                	name_ like CONCAT('%','${cm.keyword}','%')
                	or spell_ like CONCAT('%','${cm.keyword}','%')
					or sender_ like CONCAT('%','${cm.keyword}','%')
					or email_Title like CONCAT('%','${cm.keyword}','%')
					or email_Content like CONCAT('%','${cm.keyword}','%')
					or remark_ like CONCAT('%','${cm.keyword}','%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
	</select>
</mapper>
