<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gzmu.mapper.TownMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from town
		<where>
			<if test="cm.countyId != null and cm.countyId != ''">
					and county_id=#{cm.countyId}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
					and remark_=#{cm.remark}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
                	name_ like CONCAT('%','${cm.keyword}','%')
                	or spell_ like CONCAT('%','${cm.keyword}','%')
					or county_id like CONCAT('%','${cm.keyword}','%')
					or remark_ like CONCAT('%','${cm.keyword}','%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
	</select>
</mapper>
