h3 Angular Deck
  small A lightweight masonry-like grid for AngularJS.

.container-fluid(ng-controller="MasonryDeckController")
  .deckgrid.clearfix(deckgrid='', source='photos', cardtemplate="{{basepath('grid-masonry-deck-card.html')}}")
